.central {
  min-height: 100vh;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;

  &__wrapper {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    max-width: 780px;
    margin: 108px 0 90px;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.16;
    text-transform: uppercase;
    color: $black;

    span {
      color: $accent;

      @include r(470) {
        display: inline-block;
        width: 100%;
      }
    }

    @include r(992) {
      font-size: 42px;
      padding-right: 10px;
      margin: 108px 0 50px;
    }

    @include r(768) {
      font-size: 36px;
      margin: 70px 0 50px;
    }

    @include r(470) {
      max-width: 100%;
      width: 100%;
      font-size: 28px;
      margin: 60px 0 30px;
    }
  }

  &__content {
    max-width: 600px;
    margin-bottom: 80px;
    font-size: 20px;
    color: $black;

    @include r(576) {
      max-width: 100%;
      margin-bottom: 20px;
      padding-right: 10px;
    }
  }

  &__text {
    margin-bottom: 10px;
    font-weight: 700;

    @include r(576) {
      font-size: 18px;
    }

    @include r(470) {
      font-size: 16px;
    }
  }

  &__item {
    font-weight: 400;
    padding-left: 10px;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    @include line-clamp(2);

    @include r(576) {
      font-size: 18px;
    }

    @include r(470) {
      font-size: 16px;
    }
  }

  &__buttons {
    @extend %flex-base;
    max-width: 396px;
    margin-bottom: auto;

    
    @include r(470) {
      flex-direction: column;
      row-gap: 15px;
    }
  }
}

